.container{
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 10px;
    display: flex;
    background: transparent;
    justify-content: center ;
    align-items: center;
    font-size: 140%;
}

.logo{
    height: 100%;
    aspect-ratio: 1;
}

.logo img{
    height: 100%;
    width: 100%;
}

.linkContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-left: 10%;
}

.linkContainer *{
    color: black;
}

.linkContainer button{
    height: 40px;
    
}